{% extends "modelo.html" %}
{% block conteudo %}

    <h1>Sobre o Projeto.</h1>
    <h5>  <p>Este programa foi desenvolvido para facilitar a gestão de disciplinas ou cursos, proporcionando uma maneira intuitiva de adicionar, visualizar, atualizar e excluir cursos conforme necessário. Com ele, é possível gerenciar todos os detalhes dos cursos de forma eficiente e organizada...</p>

    </h5>
  
    <h2>Desenvolvido por</h2>
      <a href="https://github.com/Dyego-Kelven"> Dyego Kelven</a></p>
      <a href="https://github.com/"> Vinicus Ramalho</a></p>
      <a href="https://github.com/rafaeltry"> Rafael Farias</a></p>
  

{% endblock %}